:root {
  --white: #fff;
  --merino: #f6efe9;
  --soft-amber: #d2bfb8;
  --clam-shell: #d6b1a8;
  --ebb: #e6dedc;
  --alabaster: #f7f7f7;
  --swiss-coffee: #d6cfce;
  --hurricane: #8a8584;
  --blue-zodiac: #102947;
  --black: #000;
  --like: #fcb82f;
}
